header {
	margin-top: 20px;
	font-weight: bold;
}

.web {
	display: table;
	width: 100%;
}

.web .menuForm {
	display: table-cell;
	width: 80%;
	vertical-align: middle;
	font-size: 18px;
}

.web .loginForm {
	display: table-cell;
	width: 20%;
	vertical-align: middle;
	font-size: 15px;
}

.web .menuForm a {
	margin-right: 60px;
}

.category {
	margin-left: 3px;
	margin-right: 3px;
}

header a {
	color: black;	
}

header a:hover {
	text-decoration: none;
	color: gray;
}

footer {
}

hr {
	border: solid 0.5px gray;
}

.app {
	display: none;
}

@media ( max-width: 991px ) {
	.web {
		display: none;
	}
	
	.app {
		display: inline-block;
		width: 100%;
	}
	
	.app .menuBtn {
		text-align: right;
	}
	
	.app img {
		height: 60px;
	}
	
	.app .navigation-list {
		 text-align: center;
	}
	
	ul {
		list-style: none;
	}
	
	li {
		margin-top: 15px;	
		margin-bottom: 15px;
		font-size: 18px;
	}
}

@media ( max-width: 767px ) {

}